{% extends 'base.html.twig' %}

{% block body %}
    <h1>Announces list</h1>

    <table>
        <thead>
            <tr>
                <th>Idannounce</th>
                <th>Dateonlineannounce</th>
                <th>Datevalidatedannounce</th>
                <th>Pictureproductannounce</th>
                <th>Statusproductannounce</th>
                <th>Finishproductannounce</th>
                <th>Moneyannounce</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for announce in announces %}
            <tr>
                <td><a href="{{ path('announce_show', { 'idAnnounce': announce.idAnnounce }) }}">{{ announce.idAnnounce }}</a></td>
                <td>{% if announce.dateOnlineAnnounce %}{{ announce.dateOnlineAnnounce|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if announce.dateValidatedAnnounce %}{{ announce.dateValidatedAnnounce|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ announce.pictureProductAnnounce }}</td>
                <td>{{ announce.statusProductAnnounce }}</td>
                <td>{{ announce.finishProductAnnounce }}</td>
                <td>{{ announce.moneyAnnounce }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('announce_show', { 'idAnnounce': announce.idAnnounce }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('announce_edit', { 'idAnnounce': announce.idAnnounce }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('announce_new') }}">Create a new announce</a>
        </li>
    </ul>
{% endblock %}
