{% extends 'base.html.twig' %}

{% block body %}
    <h1>Announce</h1>

    <table>
        <tbody>
            <tr>
                <th>Idannounce</th>
                <td>{{ announce.idAnnounce }}</td>
            </tr>
            <tr>
                <th>Dateonlineannounce</th>
                <td>{% if announce.dateOnlineAnnounce %}{{ announce.dateOnlineAnnounce|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datevalidatedannounce</th>
                <td>{% if announce.dateValidatedAnnounce %}{{ announce.dateValidatedAnnounce|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Pictureproductannounce</th>
                <td>{{ announce.pictureProductAnnounce }}</td>
            </tr>
            <tr>
                <th>Statusproductannounce</th>
                <td>{{ announce.statusProductAnnounce }}</td>
            </tr>
            <tr>
                <th>Finishproductannounce</th>
                <td>{{ announce.finishProductAnnounce }}</td>
            </tr>
            <tr>
                <th>Moneyannounce</th>
                <td>{{ announce.moneyAnnounce }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('announce_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('announce_edit', { 'idAnnounce': announce.idAnnounce }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
