{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categories list</h1>

    <table>
        <thead>
            <tr>
                <th>Idcategory</th>
                <th>Namecategory</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td><a href="{{ path('category_show', { 'idCategory': category.idCategory }) }}">{{ category.idCategory }}</a></td>
                <td>{{ category.nameCategory }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('category_show', { 'idCategory': category.idCategory }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('category_edit', { 'idCategory': category.idCategory }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('category_new') }}">Create a new category</a>
        </li>
    </ul>
{% endblock %}
