{% extends 'base.html.twig' %}

{% block body %}
    <h1>Keywords list</h1>

    <table>
        <thead>
            <tr>
                <th>Idkeyword</th>
                <th>Keyword</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for keyword in keywords %}
            <tr>
                <td><a href="{{ path('keywords_show', { 'idKeyword': keyword.idKeyword }) }}">{{ keyword.idKeyword }}</a></td>
                <td>{{ keyword.keyword }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('keywords_show', { 'idKeyword': keyword.idKeyword }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('keywords_edit', { 'idKeyword': keyword.idKeyword }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('keywords_new') }}">Create a new keyword</a>
        </li>
    </ul>
{% endblock %}
