{% extends 'base.html.twig' %}

{% block body %}
    <h1>Keyword</h1>

    <table>
        <tbody>
            <tr>
                <th>Idkeyword</th>
                <td>{{ keyword.idKeyword }}</td>
            </tr>
            <tr>
                <th>Keyword</th>
                <td>{{ keyword.keyword }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('keywords_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('keywords_edit', { 'idKeyword': keyword.idKeyword }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
