{% extends 'base.html.twig' %}

{% block body %}
    <h1>Products list</h1>

    <table>
        <thead>
            <tr>
                <th>Idproduct</th>
                <th>Nameproduct</th>
                <th>Manufacturerproduct</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('product_show', { 'idProduct': product.idProduct }) }}">{{ product.idProduct }}</a></td>
                <td>{{ product.nameProduct }}</td>
                <td>{{ product.manufacturerProduct }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('product_show', { 'idProduct': product.idProduct }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('product_edit', { 'idProduct': product.idProduct }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('product_new') }}">Create a new product</a>
        </li>
    </ul>
{% endblock %}
