{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product</h1>

    <table>
        <tbody>
            <tr>
                <th>Idproduct</th>
                <td>{{ product.idProduct }}</td>
            </tr>
            <tr>
                <th>Nameproduct</th>
                <td>{{ product.nameProduct }}</td>
            </tr>
            <tr>
                <th>Manufacturerproduct</th>
                <td>{{ product.manufacturerProduct }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('product_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('product_edit', { 'idProduct': product.idProduct }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
