{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users list</h1>

    <table>
        <thead>
            <tr>
                <th>Iduser</th>
                <th>Nameuser</th>
                <th>Fnameuser</th>
                <th>Datebirthuser</th>
                <th>Accounttokensuser</th>
                <th>Accounttokensblockeduser</th>
                <th>Adminbooluser</th>
                <th>Teluser</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'idUser': user.idUser }) }}">{{ user.idUser }}</a></td>
                <td>{{ user.nameUser }}</td>
                <td>{{ user.fNameUser }}</td>
                <td>{% if user.dateBirthUser %}{{ user.dateBirthUser|date('Y-m-d') }}{% endif %}</td>
                <td>{{ user.accountTokensUser }}</td>
                <td>{{ user.accountTokensBlockedUser }}</td>
                <td>{% if user.adminBoolUser %}Yes{% else %}No{% endif %}</td>
                <td>{{ user.telUser }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'idUser': user.idUser }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit', { 'idUser': user.idUser }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_new') }}">Create a new user</a>
        </li>
    </ul>
{% endblock %}
