{% extends 'base.html.twig' %}

{% block body %}
    <h1>User</h1>

    <table>
        <tbody>
            <tr>
                <th>Iduser</th>
                <td>{{ user.idUser }}</td>
            </tr>
            <tr>
                <th>Nameuser</th>
                <td>{{ user.nameUser }}</td>
            </tr>
            <tr>
                <th>Fnameuser</th>
                <td>{{ user.fNameUser }}</td>
            </tr>
            <tr>
                <th>Datebirthuser</th>
                <td>{% if user.dateBirthUser %}{{ user.dateBirthUser|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Accounttokensuser</th>
                <td>{{ user.accountTokensUser }}</td>
            </tr>
            <tr>
                <th>Accounttokensblockeduser</th>
                <td>{{ user.accountTokensBlockedUser }}</td>
            </tr>
            <tr>
                <th>Adminbooluser</th>
                <td>{% if user.adminBoolUser %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Teluser</th>
                <td>{{ user.telUser }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('user_edit', { 'idUser': user.idUser }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
